<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>80일간의 여행 : 글 리스트</title>
</head>
<body>
<div class>
    <form action="/post/list" method="post">
        <div>
            <div>글 리스트</div>
            <div style="display:table">
                <div style="display:table-row">
                    <div style="display:table-cell">작성자</div>
                    <div style="display:table-cell">제목</div>
                    <div style="display:table-cell">작성일</div>
                </div>
                <div style="display:table-row">
                    <div style="display:table-cell">22222</div>
                    <div style="display:table-cell">제2222목</div>
                    <div style="display:table-cell">작성2222일</div>
                </div>
                <div style="display:table-row">
                    <div style="display:table-cell">333</div>
                    <div style="display:table-cell">333</div>
                    <div style="display:table-cell">333</div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>