<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://thymeleaf.org"
      th:replace="~{fragments/layout :: rslt(~{::head},~{::body},'80day`s')}">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<script src="js/jquery-3.1.1.js"></script>
<script src="js/bootstrap.js"></script>
<div class="container">
    <form action="/post/list" method="post">
        <table class="table table-hover">
            <thread>
                <tr>
                    <th>작성자 번호</th>
                    <th>제목</th>
                    <th>작성일</th>
                </tr>
            </thread>
            <tbody>
            <tr th:each="post : ${postList}">
                <td th:text="${post.publisher_no}"></td>
                <td><a th:href="|/post/detail?no=${post.no}|" th:text="${post.title}"></a></td>
                <td th:text="${post.upload_date}"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>


