<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://thymeleaf.org"
      th:replace="~{fragments/layout :: rslt(~{::body},'글 상세')}">>
<body>
<div class>
    <div>
        <div>
            <ul>
                <li th:each="photo : ${post.uploadPhotos}">
                    <img th:src="@{'/upload/' + ${photo.encodeName}}" th:alt="${photo.originName}" />
                </li>

            </ul>

        </div>

      <div>글 상세</div>
        <div th:text="${post.no}">no</div>
        <div th:text="${post.publisher_no}">publisher_no</div>
        <div th:text="${post.upload_date}">upload_date</div>
        <div th:text="${post.title}">title</div>
        <div th:text="${post.text}">text</div>
    </div>
</div>

</body>
</html>