<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://thymeleaf.org"
      th:fragment="rslt(header,content)">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- w3 -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- 스와이퍼 -->
    <script src="/js/swiper_js/swiper.min.js"></script>
    <link rel="stylesheet" href="/css/swiper_css/swiper.min.css">
    <!-- common -->
    <script src="/js/common.js"></script>
    <link rel="stylesheet" href="/css/common.css">
    <th:block th:replace="${header}"></th:block>
</head>
<!--<body class="w3-light-grey w3-content" style="max-width:1600px">-->
<body>
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container">
            <img src="/images/dummy/avatar_g2.jpg" style="width:45%;" class="w3-round"><br><br>
            <h4>
                <b th:if="${session.user == null}" onclick="location.href='/login';">로그인</b>
                <b th:if="${session.user != null}" onclick="location.href='/member/detail';" th:text="${session.user.name}"></b>
            </h4>
            <p class="w3-text-grey">Template by W3.CSS</p>
        </div>
        <div class="w3-bar-block">
            <a href="/post/list" class="w3-bar-item w3-button w3-padding"><i class="fa fa-th-large fa-fw w3-margin-right"></i>POST LIST</a>
            <a href="/post/upload" class="w3-bar-item w3-button w3-padding"><i class="fa fa-th-large fa-fw w3-margin-right"></i>POST UPLOAD</a>
            <a href="/login" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>LOGIN</a>
        </div>
        <div class="w3-panel w3-large">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
    </nav>

    <header class="top-bar">
        <div class="side-menu-btn menu">
            <span class="menu-icon menu" onclick="side_menu_open()"></span>
        </div>
        <!-- 로고 -->
        <div onclick="location.href='/'" class="logo-type01 menu">
            <div class="logo-sub">80일 그이상의 여행을 위해</div>
            <div class="logo-main">80 Day's</div>
        </div>


        <div class="menu right-m">
            <div class="menu ">
                <input type="text" id='total_search_var' />
                <label for="total_search_btn">검색</label>
                <input id="total_search_btn" type="button" class="undisplay" onclick="total_search();">
            </div>
            <div class="menu" th:if="${session.user != null}">
                <a href="/logout">로그아웃</a>
            </div>
            <div class="menu" th:if="${session.user == null}">
                <a href="/login">로그인</a>
            </div>
        </div>


        <div class="line-type01">
        </div>
    </header>
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="side_menu_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <div class="w3-main" style="margin-left:300px">
        <th:block th:replace="${content}"/>
    </div>
</body>
</html>
