<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://thymeleaf.org"
      th:fragment="rslt(header,content,title)">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 스와이퍼 -->
    <script src="/js/swiper_js/swiper.min.js"></script>
    <link rel="stylesheet" href="/css/swiper_css/swiper.min.css">
    <!-- common -->
    <link rel="stylesheet" href="/css/common.css">
    <th:block th:replace="${header}"></th:block>
</head>
<body>
    <header class="top-bar">
        <div class="side-menu-btn menu">
            <span class="menu-icon menu" onclick="side_menu_open()"></span>
        </div>
        <!-- 로고 -->
        <div onclick="location.href='/'" class="logo-type01 menu">
            <div class="logo-sub">80일 그이상의 여행을 위해</div>
            <div class="logo-main">80 Day's</div>
        </div>

        <div class="line-type01">
        </div>
    </header>

  <th:block th:replace="${content}"></th:block>
</body>
</html>
