/* font */
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin:0;
    background:#FFFFFF;
}

/* tag css */
header{
    position:sticky;
    top:0;
    left:0;
    z-index:9999;
    width:100%;
    background:#FFFFFF;
    vertical-align:middle;
}

a { color: #000; text-decoration:none;}
a:link { color: #000; text-decoration:none;}
a:visited { color: #000; text-decoration:none;}

table {
    border-spacing: 0px;
    border-collapse: separate;
}

/* class css */
@media (max-width:992px){
    .w3-sidebar.w3-collapse{display:none}
    .w3-main{margin-left:0!important;margin-right:0!important}
    .w3-auto{max-width:100%}
}
@media (max-width:992px){
    .w3-sidebar.w3-collapse{display:none}
    .w3-main{margin-left:0!important;margin-right:0!important}
    .w3-auto{max-width:100%}
}
@media (min-width:993px){
    .top-bar .side-menu-btn{display:none!important;}
}

.top-bar .menu{
    display:inline-block;
}
.top-bar .menu.right-m{
    position:absolute;
    right:0;
    float:right;
    display:inline-block;
}
.top-bar .menu-icon{
    display:inline-block;
    width:50px;
    height:50px;
    background-image:url('/images/icon/hamburger.png');
    background-size:100%;
}

.table{
    display:table;
}
.table-row{
    display:table-row;
}
.table-cell{
    display:table-cell;
}

/* special tag */
.line-type01{
    height:3px;
    width:100%;
    background-color:#ffd6f6;
}
.undisplay{
    display:none;
}

.logo-type01{
    cursor:pointer;
}
.logo-type01 .logo-sub{
    font-weight:
}
.logo-type01 .logo-main{
    color:pink;
}

.btn-type01{
    display:inline-block;
    padding:5px 7px;
    background:#dd0000;
    color:#ffffff;
    font-size:600;
    /*width:50px;
    line-height:20px;*/
}
.btn-type01:hover{
    background:#ff0000;
}
.btn-type01.checked{
    background:#888888;
}

.btn-type02{
    display:inline-block;
    padding:5px 7px;
    background:#dd0000;
    color:#ffffff;
    font-size:600;
    /*width:50px;
    line-height:20px;*/
}
.btn-type02:hover{
    background:#ff0000;
}
.btn-type02.checked{
    background:#888888;
}