/* font */
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin:0;
    background:#FFFFFF;
}

/* tag css */
a { color: #000; text-decoration:none;}
a:link { color: #000; text-decoration:none;}
a:visited { color: #000; text-decoration:none;}

/* class css */
.logo-type01{
    cursor:pointer;
}
.logo-type01 .logo-sub{
    font-weight:
}
.logo-type01 .logo-main{
    color:pink;
}

.top-bar .menu{
    display:inline-block;
}
.top-bar .menu-icon{
    display:inline-block;
    width:50px;
    height:50px;
    background-image:url('/images/icon/hamburger.png');
    background-size:100%;
}


/* special tag */
.line-type01{
    height:3px;
    width:100%;
    background-color:#ffd6f6;
}
