/* defaule */
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

/* font */
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* special tag */
.line-type01{
    height:3px;
    width:100%;
    background-color:#ffd6f6;
}

/* common */
header{
    position:sticky;
    top:0;
    left:0;
    z-index:9999;
    width:100%;
    background:#FFFFFF;
    vertical-align:middle;
}


.top-bar .menu{
    display:inline-block;
}
.top-bar .menu-icon{
    display:inline-block;
    width:50px;
    height:50px;
    background-image:url('/images/icon/hamburger.png');
    background-size:100%;
}


.main-slice-img{
    width:100%;
}
@media (max-width:992px){
    .w3-sidebar.w3-collapse{display:none}
    .w3-main{margin-left:0!important;margin-right:0!important}
    .w3-auto{max-width:100%}
}
@media (max-width:992px){
    .w3-sidebar.w3-collapse{display:none}
    .w3-main{margin-left:0!important;margin-right:0!important}
    .w3-auto{max-width:100%}
}
@media (min-width:993px){
    .top-bar .side-menu-btn{display:none;}
}

.top-place-container{
    margin:30px;
}
.bullet-box{
    width:100%;
    text-align:center;
}
