<!DOCTYPE html>
<html  lang="ko"
       xmlns:th="https://thymeleaf.org"
       th:replace="~{fragments/layout :: rslt(~{::head},~{::body},'80day`s')}">
<head>
  <script src="/js/main.js"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="side_menu_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">




  <!-- 인기 Top5 여행지 스와이퍼 -->
  <div style="width:900px;">
    <div class="top-place-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/images/service_img/japan_20210605.jpg" class="main-slice-img" />
        </div>
        <div class="swiper-slide">
          <img src="/images/service_img/france_20210605.jpg" class="main-slice-img" />
        </div>
        <div class="swiper-slide">
          <img src="/images/service_img/boracay_20210605.jpg" class="main-slice-img" />
        </div>
      </div>
    </div>
  </div>
  <div class="bullet-box"></div>
  <!-- 인기 Top6 포스트 스와이퍼 -->
  <div>
    <div>인기글</div>
    <div class="popular-post">
      <div class="swiper-wrapper w3-row-padding">
        <div th:each="post : ${mainPosts}" class="swiper-slide w3-third w3-container w3-margin-bottom">
          <a th:href="|/post/detail?no=${post.no}|">
            <img th:src="@{'/upload/' + ${post.uploadPhotos[0].encodeName}}" style="width:100%; height:240px;" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b th:text="${post.title}">제목</b></p>
              <p th:text="${post.text}">설명</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- 최고의 풍경 포스트 스와이퍼 -->
  <div>
    <div>BEST PHOTO</div>
    <div class="best-photo-post">
      <div class="swiper-wrapper w3-row-padding">
        <div th:each="post : ${mainPosts}" class="swiper-slide w3-third w3-container w3-margin-bottom">
          <a th:href="|/post/detail?no=${post.no}|">
            <img th:src="@{'/upload/' + ${post.uploadPhotos[0].encodeName}}" style="width:100%; height:240px;" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b th:text="${post.title}">제목</b></p>
              <p th:text="${post.text}">설명</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-dark-grey">
    <div class="w3-row-padding">
      <div class="w3-third">
        <h3>FOOTER</h3>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
      </div>

      <div class="w3-third">
        <h3>BLOG POSTS</h3>
        <ul class="w3-ul w3-hoverable">
          <li class="w3-padding-16">
            <img src="/images/dummy/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Lorem</span><br>
            <span>Sed mattis nunc</span>
          </li>
          <li class="w3-padding-16">
            <img src="/images/dummy/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Ipsum</span><br>
            <span>Praes tinci sed</span>
          </li>
        </ul>
      </div>

      <div class="w3-third">
        <h3>POPULAR TAGS</h3>
        <p>
          <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">London</span>
          <span class="w3-tag w3-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">DIY</span>
          <span class="w3-tag w3-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Family</span>
          <span class="w3-tag w3-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Shopping</span>
          <span class="w3-tag w3-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Games</span>
        </p>
      </div>
    </div>
  </footer>

  <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div>

  <!-- End page content -->
</div>
</body>
</html>
