<!DOCTYPE html>
<html  lang="ko"
       xmlns:th="https://thymeleaf.org"
       th:replace="~{fragments/layout :: rslt(~{::head},~{::body})}">
<head>
    <meta charset="utf-8">
    <title>80`days</title>
    <!-- STYLE -->
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <!-- SCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/common.js"></script>
    <script>

    </script>
</head>
<body>
<div class='wrap'>
    <div class='header-wrap'>
        <div class='header width-limit'>
            <div class='menu-btn-wrap'>
                <div class='menu-btn menu-btn-type01' onclick='open_left_menu();'></div>
            </div>
            <div class='title-wrap'>
                <span class='title' onclick="location.href='./main.html';">Around the World in 80 Days</span>
            </div>
            <div class='login-wrap' th:if="${session.user != null}">
                <span class='login-btn' onclick="location.href='/logout'">LOGOUT</span>
            </div>
            <div class='login-wrap' th:if="${session.user == null}">
                <span class='login-btn' onclick="location.href='/login'">LOGIN</span>
            </div>
            <div class='search-wrap'>
                <div class='search-menu'>
                    <div class='search-menu-title'>
                        <span>Find your best trip ever!</span>
                    </div>
                    <div class='search-bar-container'>
                        <div class='search-bar-box'>
                            <input id='main_search' class='search-bar' type='text' spellcheck='false' placeholder='Search'/>
                        </div>
                        <div class='search-btn-type01' onclick="main_searching_text($('#main_search').val());"></div>
                    </div>
                </div>
            </div>
            <div class='left-menu-wrap'>
                <div class='left-menu'>
                    <div class='top-bar'>
                        <div class='left-tag'><div class='menu-btn-type02' onclick='open_left_menu();'></div></div>
                        <div class='right-tag'></div>
                    </div>
                    <div class='left-menu-contants'>
                        <div class='sub-menu'>
                            <div><span>추천</span></div>
                            <ul>
                                <li onclick="alert($(this).html());">새 게시물</li>
                                <li onclick="alert($(this).html());">인기 게시물</li>
                                <li onclick="alert($(this).html());">인기 여행지</li>
                                <li onclick="alert($(this).html());">추천 여행지</li>
                            </ul>
                        </div>
                        <div class='sub-menu'>
                            <div><span>구독</span></div>
                            <ul>
                                <li onclick="alert($(this).html());">새 게시물</li>
                                <li onclick="alert($(this).html());">구독</li>
                                <li onclick="alert($(this).html());">채팅</li>
                            </ul>
                        </div>
                        <div class='sub-menu'>
                            <div><span>My Page</span></div>
                            <ul>
                                <li onclick="alert($(this).html());">이벤트</li>
                                <li onclick="alert($(this).html());">로그인</li>
                                <li onclick="alert($(this).html());">회원가입</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='header-wrap-img'></div>
    </div>
    <div class='contants-wrap'>
        <div class='contants width-limit'>
            <div class='contant-wrap'>
                <div class='contant-wrap-title'>
                    <span>Best Posts</span>
                </div>
                <div class='best-posts'>
                    <div class='design-tag-post-type01' th:each="post : ${bestPosts}">
                        <div class='post-content'>
                            <img class='post-img' th:src="@{'/upload/' + ${post.uploadPhotos[0].encodeName}}"/>
                            <div class='post-main-text'>
                                <div class='post-title'>
                                    <a th:href="|/post/detail?no=${post.no}|" th:text="${post.title}"></a>
                                </div>
                                <div class='post-date' th:text="${#dates.format(post.upload_date,'yyyy-MM-dd')}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='contant-wrap'>
                <div class='contant-wrap-title'>
                    <span>Popular Photos</span>
                </div>
                <div class='popular-photos-box'>
                    <div class='popular-photos'>
                        <div class='popular-photo' th:each="photo : ${popularPhotos}">
                            <img th:src="@{'/upload/' + ${photo.uploadPhotos[0].encodeName}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class='contant-wrap'>
                <div class='contant-wrap-title'>
                    <span>Popular Travelers</span>
                </div>
                <div class='popular-travelers'>
                    <div class='popular-traveler'>
                        <div class='traveler-background'>
                            <img src='./img/src/best_img_08.png'>
                        </div>
                        <div class='traveler-img'>
                            <img src='./img/icon/user-gray-icon.png'/>
                        </div>
                        <div class='traveler-profile-background'>
                            <div class='traveler-profile'>
                                <span class='traveler-name'>이름</span>
                                <span class='traveler-subscript-num'>구독자수</span>
                            </div>
                        </div>
                    </div>
                    <div class='popular-traveler'>
                        <div class='traveler-background'>
                            <img src='./img/src/best_img_08.png'>
                        </div>
                        <div class='traveler-img'>
                            <img src='./img/icon/user-gray-icon.png'/>
                        </div>
                        <div class='traveler-profile-background'>
                            <div class='traveler-profile'>
                                <span class='traveler-name'>이름</span>
                                <span class='traveler-subscript-num'>구독자수</span>
                            </div>
                        </div>
                    </div>
                    <div class='popular-traveler'>
                        <div class='traveler-background'>
                            <img src='./img/src/best_img_08.png'>
                        </div>
                        <div class='traveler-img'>
                            <img src='./img/icon/user-gray-icon.png'/>
                        </div>
                        <div class='traveler-profile-background'>
                            <div class='traveler-profile'>
                                <span class='traveler-name'>이름</span>
                                <span class='traveler-subscript-num'>구독자수</span>
                            </div>
                        </div>
                    </div>
                    <div class='popular-traveler'>
                        <div class='traveler-background'>
                            <img src='./img/src/best_img_08.png'>
                        </div>
                        <div class='traveler-img'>
                            <img src='./img/icon/user-gray-icon.png'/>
                        </div>
                        <div class='traveler-profile-background'>
                            <div class='traveler-profile'>
                                <span class='traveler-name'>이름</span>
                                <span class='traveler-subscript-num'>구독자수</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='footer-wrap'>
        <div class='footer width-limit'>
        </div>
    </div>
</div>

</body>
</html>